{% extends 'front/base.html.twig' %}

{% block title %}
    Films à l'affiche
{% endblock title %}

{% block main %}

{# MAIN #}
<main class="container-fluid position-relative">
    <!-- FIL D'ARIANNE -->
    <div>
        <ul>
            <li class="breadcrumb">
                <a href="{{ path('homepage') }}" class="item">Accueil</a>
                <a href="{{ path('movies_list') }}" class="item">Films</a>
                <a href="{{ path('currentMovies_list') }}" class="item">Films à l'affiche</a>
            </li>
        </ul>
    </div>
    {# SECTION FILMS À L'AFFICHE #}
    <section class="container">
        <h1 class="text-center my-lg-5">Films à l'affiche</h1>
        {# Ligne 1 #}
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-3">
                {# PREMIER FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3>De :<span> Caroline Vignal</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# DEUXIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="mt-lg-3">Mon Cousin</h2>
                    <h3>De :<span> Jan Kounen</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# TROISIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="mt-lg-3">Tenet</h2>
                    <h3>De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# Ligne 2 #}
        <div class="row align-items-center justify-content-around mt-lg-5">
            <div class="col-lg-3">
               {# PREMIER FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3>De :<span> Caroline Vignal</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# DEUXIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="mt-lg-3">Mon Cousin</h2>
                    <h3>De :<span> Jan Kounen</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# TROISIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="mt-lg-3">Tenet</h2>
                    <h3>De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# Ligne 3 #}
        <div class="row align-items-center justify-content-around mt-lg-5">
            <div class="col-lg-3">
                {# PREMIER FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3>De :<span> Caroline Vignal</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# DEUXIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="mt-lg-3">Mon Cousin</h2>
                    <h3>De :<span> Jan Kounen</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# TROISIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="mt-lg-3">Tenet</h2>
                    <h3>De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# Ligne 4 #}
        <div class="row align-items-center justify-content-around mt-lg-5">
            <div class="col-lg-3">
                {# PREMIER FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3>De :<span> Caroline Vignal</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# DEUXIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="mt-lg-3">Mon Cousin</h2>
                    <h3>De :<span> Jan Kounen</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# TROISIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="mt-lg-3">Tenet</h2>
                    <h3>De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# Ligne 5 #}
        <div class="row align-items-center justify-content-around mt-lg-5">
            <div class="col-lg-3">
                {# PREMIER FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3>De :<span> Caroline Vignal</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# DEUXIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="mt-lg-3">Mon Cousin</h2>
                    <h3>De :<span> Jan Kounen</span></h3>
                </a>
            </div>
            <div class="col-lg-3">
                {# TROISIEME FILM #}
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="mt-lg-3">Tenet</h2>
                    <h3>De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# BOUTON NEXT PAGE #}
        <div class="row text-center justify-content-center align-items-center my-lg-5">
            <div class="col-lg-2 py-lg-1" id="buttonnext_page">
                <span class="text-center TailleSpanPage ">Page 1</span>
            </div>
            <div class="col-lg-1">
                {# ICON NEXT PAGE #}
                <img src="{{ asset('assets/img/icon/next_page_right.svg') }}" alt="Page 1" title="Page 1" class="img-fluid"
                     id="next_page">
            </div>
        </div>
    </section>
    <a href="#">
        <div class="return-top_position position-fixed">
            <img src="{{ asset('assets/img/icon/return_top.svg') }}" alt="" class="return_top_icon">
        </div>
    </a>
</main>
{% endblock main %}