{% extends 'front/base.html.twig' %}

{% block title %}
    Films à l'affiche
{% endblock title %}

{% block main %}

{# Début MAIN #}
<main class="container-fluid position-relative m-0">

    {# FIL D'ARIANNE #}
    <div>
        <ul class="mb-0 mb-lg-1">
            <li class="breadcrumb">
                <a href="{{ path('homepage') }}" class="item">Accueil</a>
                <a href="{{ path('movies_list') }}" class="item">Films</a>
                <a href="{{ path('currentMovies_list') }}" class="item">Films à l'affiche</a>
            </li>
        </ul>
    </div>

    {# SECTION FILMS À L'AFFICHE #}
    <section class="container" id="filmsAffiche">
        <h1 class="mb-3 text-center mb-lg-5 mt-lg-4 pb-lg-3">Films à l'affiche</h1>

        {# Ligne 1 #}
        <div class="row justify-content-around align-items-center">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# Ligne 2 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 3 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 4 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>
        {# Ligne 5 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{# {{ path('currentMovie_show') }} #}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>

        {# BOUTON NEXT PAGE #}
        <div class="row mb-5 pb-5 text-center justify-content-center align-items-center my-lg-5 pb-lg-0">
            <div class="col-4 col-lg-2 py-lg-1" id="buttonnext_page">
                <span class="text-center TailleSpanPage">Page 1</span>
            </div>
            <div class="col-3 col-lg-1">
                {# ICON NEXT PAGE #}
                <img src="{{ asset('assets/img/icon/next_page_right.svg') }}" alt="Page 1" title="Page 1" class="img-fluid"
                     id="next_page">
            </div>
        </div>
    </section>

    {# BOUTON RETURN TOP #}
    <a href="#">
        <div class="returnTopPosition returnTopLightBlue d-none d-lg-block">
            <img src="{{ asset('assets/img/icon/return_top_light_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>

    <a href="#">
        <div class="mb-5 d-block returnTopPosition returnTopDarkBlue d-lg-none">
            <img src="{{ asset('assets/img/icon/return_top_dark_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>
</main>
{# Fin MAIN #}

{% endblock main %}