{% extends 'front/base.html.twig' %}

{% block title %}
    Films
{% endblock title %}

{% block NavLienActive %}
    <li class="d-none text-center typohead col-lg-2 d-lg-block">
        <a href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li class="d-none text-center typohead col-lg-2 d-lg-block">
        <a href="{{ path('news_list') }}">Actualités</a>
    </li>
    <li class="cercle">
        <div id="circletransp">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/img/logo/logo_batcine_blanc.svg') }}"
                     alt="Batcine Logo" title="Batcine Logo"
                     class="img-fluid" id="logo">
            </a>
        </div>
    </li>
    <li class="d-none text-center typohead menu z_menu col-lg-2 d-lg-block">
        <a href="{{ path('movies_list') }}" class="active">Films</a>
        <ul class="sub my-lg-5">
            <li class="sub1 px-lg-3 pt-lg-3 pb-lg-1">
                <a href="{{ path('currentMovies_list') }}" class="typolimenu">Film à l'affiche</a>
            </li>
            <li class="sub2 pb-lg-3">
                <a href="{{ path('upcomingMovies_list') }}" class="typolimenu">Prochainement</a>
            </li>
        </ul>
    </li>
    <li class="d-none text-center typohead col-lg-2 d-lg-block">
        <a href="{{ path('series_list') }}">Séries</a>
    </li>
{% endblock %}

{% block main %}

{# Début MAIN #}
<main class="container-fluid position-relative m-0">

    {# FIL D'ARIANNE #}
    <div>
        <ul class="mb-0 mb-lg-1">
            <li class="breadcrumb">
                <a href="{{ path('homepage') }}" class="item">Accueil</a>
                <a href="{{ path('movies_list') }}" class="item">Films</a>
            </li>
        </ul>
    </div>

    {# SECTION FILMS À L'AFFICHE #}
    <section class="container" id="filmsAffiche">
        <h1 class="mb-3 text-center mb-lg-5 mt-lg-4 pb-lg-3">Films à l'affiche</h1>

        {# Ligne 1 #}
        <div class="row justify-content-around align-items-center">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 2 #}
        <div class="row justify-content-around align-items-center mt-lg-5">
            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/antoinettes_dans_les_cevennes.jpg') }}"
                         alt="Antoinettes dans les Cévennes" title="Antoinettes dans les Cévennes" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Antoinette dans les Cévennes</h2>
                    <h3 class="my-0 pt-2">De :<span> Caroline Vignal</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/mon_cousin.jpg') }}" alt="Mon cousin" title="Mon cousin"
                         class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mon Cousin</h2>
                    <h3 class="my-0 pt-2">De :<span> Jan Kounen</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/affiches/tenet.jpg') }}" alt="Tenet" title="Tenet" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Tenet</h2>
                    <h3 class="my-0 pt-2">De :<span> Christopher Nolan</span></h3>
                </a>
            </div>
        </div>

        {# BOUTON VOIR PLUS SUR LES FILMS À L'AFFICHE #}
        <div class="row justify-content-end mt-lg-5">
            <div class="col-5 py-2 col-lg-2 my-lg-3 py-lg-0 buttonmore">
                <a href="{{ path('currentMovies_list') }}">
                    <div class="row justify-content-between align-items-center">
                        <span class="col-3 ml-4 px-0 text-center col-lg-3 ml-lg-3 my-lg-2">Voir</span>
                        <span class="col-3 px-0 text-center col-lg-3 ml-lg-0 my-lg-2"> plus</span>
                        <div class="col-4 col-lg-4 my-lg-2">
                            {# ICON VOIR PLUS #}
                            <img src="{{ asset('assets/img/icon/more.svg') }}" alt="Voir plus" title="Voir Plus" class="img-fluid">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    {# SECTION FILMS PROCHAINEMENT #}
    <section class="container" id="filmsProchainement">
        <h1 class="my-4 py-4 text-center my-lg-5 py-lg-0">Films Prochainement</h1>

        {# Ligne 1 #}
        <div class="row justify-content-around align-items-center">
            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 2 #}
        <div class="row justify-content-around align-items-center mt-lg-5">
            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# BOUTON VOIR PLUS SUR LES FILMS PROCHAINEMENT #}
        <div class="row justify-content-end mb-5 my-lg-0 py-lg-5">
            <div class="col-5 py-2 col-lg-2 my-lg-3 py-lg-0 buttonmore">
                <a href="{{ path('upcomingMovies_list') }}">
                    <div class="row align-items-center justify-content-between">
                        <span class="col-3 ml-4 px-0 text-center col-lg-3 ml-lg-3 my-lg-2">Voir</span>
                        <span class="col-3 px-0 text-center col-lg-3 ml-lg-0 my-lg-2"> plus</span>
                        <div class="col-4 col-lg-4 my-lg-2">
                            {# ICON VOIR PLUS #}
                            <img src="{{ asset('assets/img/icon/more.svg') }}" alt="Voir plus" title="Voir Plus" class="img-fluid">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    {# BOUTON RETURN TOP #}
    <a href="#">
        <div class="returnTopPosition returnTopLightBlue d-none d-lg-block">
            <img src="{{ asset('assets/img/icon/return_top_light_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>

    <a href="#">
        <div class="mb-5 d-block returnTopPosition returnTopDarkBlue d-lg-none">
            <img src="{{ asset('assets/img/icon/return_top_dark_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>
</main>
{# Fin MAIN #}

{% endblock main %}

{% block activeNavMenuSticky %}
<nav class="navbarStickyMenu">
    <ul class="navList">
        <li><a href="{{ path('homepage') }}">
                <div class="navIcons"><img src="{{ asset('assets/img/icon/home.svg') }}" alt="home" class="resp"></div>Accueil
            </a></li>
        <li><a href="{{ path('news_list') }}">
                <div class="navIcons"><img src="{{ asset('assets/img/icon/actualite.svg') }}" alt="actualite" class="resp"></div>Actualites
            </a></li>
        <li><a href="{{ path('movies_list') }}" class="active">
                <div class="navIcons" id="navIcons3"><img src="{{ asset('assets/img/icon/poster.svg') }}" alt="poster" class="resp"></div>
                Films
            </a></li>
        <li><a href="{{ path('series_list') }}">
                <div class="navIcons"><img src="{{ asset('assets/img/icon/movie.svg') }}" alt="movie" class="resp"></div>Series
            </a></li>
        <li><a href="#">
                <div class="plus navIcons"><img src="{{ asset('assets/img/icon/more_litght_blue.svg') }}" alt="more" class="resp"></div>Plus
            </a></li>
    </ul>
</nav>
{% endblock %}