{% extends 'front/base.html.twig' %}

{% block title %}
    Actualités
{% endblock title %}

{% block main %}

{# Début MAIN #}
<main class="container-fluid position-relative m-0">

    {# FIL D'ARIANNE #}
    <div>
        <ul class="mb-0 mb-lg-1">
            <li class="breadcrumb">
                <a href="{{ path('homepage') }}" class="item">Accueil</a>
                <a href="{{ path('news_list') }}" class="item">Actualités</a>
            </li>
        </ul>
    </div>

    {# SECTION ACTUALITES #}
    <section class="container" id="actualites">
        <h1 class="mb-3 text-center mb-lg-5 mt-lg-4 pb-lg-3">Actualités</h1>

        {% for new in news %}
            <div class="row justify-content-around align-items-center">
                    {# Si mon tour de boucle est impair #}
                    {% if loop.index is odd %}
                        {# Actu 1 #}
                        <div class="col-lg-5">
                            <img src="{{ asset('uploads/news/' ~ new.image) }}" alt="" class="img-fluid">
                        </div>
                        <article class="my-4 col-lg-5">
                            <p class="txtJustify mb-lg-0">{{ new.content }}</p>
                        </article>
                    {% else %}
                        {# Actu 2 #}
                        <article class="my-4 col-lg-5 order-2 order-lg-1">
                            <p class="txtJustify mb-lg-0">{{ new.content }}</p>
                        </article>
                        <div class="col-lg-5 my-lg-5 order-1 order-lg-2">
                            <img src="{{ asset('uploads/news/' ~ new.image) }}" alt="" class="img-fluid">
                        </div>
                    {% endif %}
            </div>
        {% endfor %}


        {# BOUTON NEXT PAGE #}
        <div class="row mb-5 pb-5 text-center justify-content-center align-items-center my-lg-5 pb-lg-0">
            <div class="col-4 col-lg-2 py-lg-1" id="buttonnext_page">
                <span class="text-center TailleSpanPage">Page 1</span>
            </div>
            <div class="col-3 col-lg-1">
                {# ICON NEXT PAGE #}
                <img src="{{ asset('assets/img/icon/next_page_right.svg') }}" alt="Page 1" title="Page 1" class="img-fluid" id="next_page">
            </div>
        </div>
    </section>

    {# BOUTON RETURN TOP #}
    <a href="#">
        <div class="returnTopPosition returnTopLightBlue d-none d-lg-block">
            <img src="{{ asset('assets/img/icon/return_top_light_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>

    <a href="#">
        <div class="mb-5 d-block returnTopPosition returnTopDarkBlue d-lg-none">
            <img src="{{ asset('assets/img/icon/return_top_dark_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>
</main>
{# Fin MAIN #}

{% endblock main %}

