{% extends 'front/base.html.twig' %}

{% block title %}
    Films Prochainement
{% endblock title %}

{% block NavLienActive %}
    <li class="d-none text-center typohead col-lg-2 d-lg-block">
        <a href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li class="d-none text-center typohead col-lg-2 d-lg-block">
        <a href="{{ path('news_list') }}">Actualités</a>
    </li>
    <li class="cercle">
        <div id="circletransp">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/img/logo/logo_batcine_blanc.svg') }}"
                     alt="Batcine Logo" title="Batcine Logo"
                     class="img-fluid" id="logo">
            </a>
        </div>
    </li>
    <li class="d-none text-center typohead menu z_menu col-lg-2 d-lg-block">
        <a href="{{ path('movies_list') }}" class="active">Films</a>
        <ul class="sub my-lg-5">
            <li class="sub1 px-lg-3 pt-lg-3 pb-lg-1">
                <a href="{{ path('currentMovies_list') }}" class="typolimenu">Film à l'affiche</a>
            </li>
            <li class="sub2 pb-lg-3">
                <a href="{{ path('upcomingMovies_list') }}" class="typolimenu active">Prochainement</a>
            </li>
        </ul>
    </li>
    <li class="d-none text-center typohead col-lg-2 d-lg-block">
        <a href="{{ path('series_list') }}">Séries</a>
    </li>
{% endblock %}

{% block main %}

{# Début MAIN #}
<main class="container-fluid position-relative m-0">

    {# FIL D'ARIANNE #}
    <div>
        <ul class="mb-0 mb-lg-1">
            <li class="breadcrumb">
                <a href="{{ path('homepage') }}" class="item">Accueil</a>
                <a href="{{ path('movies_list') }}" class="item">Films</a>
                <a href="{{ path('upcomingMovies_list') }}" class="item">Prochainement</a>
            </li>
        </ul>
    </div>

    {# SECTION FILMS PROCHAINEMENT #}
    <section class="container" id="filmsProchainement">
        <h1 class="mb-3 text-center mb-lg-5 mt-lg-4 pb-lg-3">Films Prochainement</h1>

        {# Ligne 1 #}
        <div class="row justify-content-around align-items-center">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 2 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 3 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 4 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# Ligne 5 #}
        <div class="row justify-content-around align-items-center mt-lg-5">

            {# PREMIER FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/mourir_peut_attendre.jpg') }}" alt="Mourir peut attendre"
                         title="Mourir peut attendre" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">Mourir peut attendre</h2>
                    <h3 class="my-0 pt-2">De :<span> Cary Joji Fukunaga</span></h3>
                </a>
            </div>

            {# DEUXIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/30_jours_max.jpg') }}" alt="30 jours max"
                         title="30 jours max" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">30 jours max</h2>
                    <h3 class="my-0 pt-2">De :<span> Tarek Boudali</span></h3>
                </a>
            </div>

            {# TROISIEME FILM #}
            <div class="col-8 mb-5 col-lg-3 mb-lg-0">
                <a href="{{ path('currentMovie_show') }}">
                    <img src="{{ asset('assets/img/films/prochainement/the_singing_club.jpg') }}" alt="The singing club"
                         title="The singing club" class="img-fluid">
                    <h2 class="my-0 pt-3 mt-lg-3">The Singing Club</h2>
                    <h3 class="my-0 pt-2">De :<span> Peter Cattaneo</span></h3>
                </a>
            </div>
        </div>

        {# BOUTON NEXT PAGE #}
        <div class="row mb-5 pb-5 text-center justify-content-center align-items-center my-lg-5 pb-lg-0">
            <div class="col-4 col-lg-2 py-lg-1" id="buttonnext_page">
                <span class="text-center TailleSpanPage">Page 1</span>
            </div>
            <div class="col-3 col-lg-1">
                {# ICON NEXT PAGE #}
                <img src="{{ asset('assets/img/icon/next_page_right.svg') }}" alt="Page 1" title="Page 1" class="img-fluid"
                     id="next_page">
            </div>
        </div>
    </section>

    {# BOUTON RETURN TOP #}
    <a href="#">
        <div class="returnTopPosition returnTopLightBlue d-none d-lg-block">
            <img src="{{ asset('assets/img/icon/return_top_light_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>

    <a href="#">
        <div class="mb-5 d-block returnTopPosition returnTopDarkBlue d-lg-none">
            <img src="{{ asset('assets/img/icon/return_top_dark_blue.svg') }}" alt="Return Top" class="resp">
        </div>
    </a>
</main>
{# Fin MAIN #}

{% endblock main %}