{# Fichier HTML #}
<!DOCTYPE html>
{# Le langage du texte dans le document #}
<html lang="fr">

<head>
    {# Universal Character Set Transformation Format 8 bits : répertoire universel de caractères codés :
    Norme ISO/CEI 10646 #}
    <meta charset="UTF-8">
    {# Contrôler la mise en page de la fenêtre d'affichage du navigateur sur différents appareils  #}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {# La page sera afficheée avec la version IE mode edge cad le mode le plus élevé disponible #}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Baptiste Lucmaret">
    <meta name="description" content="Site d'actualités de cinéma, films et séries à l'affiche et à voir prochainement">
    <meta name="keywords" content="Actualités, Films, Séries, Cinema">
    <meta name="robots" content="index, follow">

    {# Début du favicon #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {# Fin du favicon #}

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <title>{% block title %}Log in!{% endblock %}</title>
</head>

<body>
{% block main %}
    <main class="login d-flex">
        <img>
        <section class="col-6 borderRight">
            <form method="post" class=" customLogin rounded my-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal mx-3 text-center mt-3">Please sign in</h1>
                <label for="inputEmail" class="mx-3">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       class="form-control mx-3 zoneTextLogin" required autofocus><br>
                <label for="inputPassword" class="mx-3">Password</label>
                <input type="password" name="password" id="inputPassword"
                       class="form-control mx-3 zoneTextLogin" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="btn btn-lg button" type="submit">
                    Sign in
                </button>
            </form>
        </section>
        <section class="col-6">
            <form method="post" class=" customLogin rounded my-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal mx-3 text-center mt-3">Please sign in</h1>
                <label for="inputEmail" class="mx-3">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       class="form-control mx-3 zoneTextLogin" required autofocus><br>
                <label for="inputPassword" class="mx-3">Password</label>
                <input type="password" name="password" id="inputPassword"
                       class="form-control mx-3 zoneTextLogin" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="btn btn-lg button" type="submit">
                    Sign in
                </button>
            </form>
        </section>
    </main>
{% endblock %}

<script src="{{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{{'https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'}}"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{{'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'}}"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('assets/js/modele_film.js') }}"></script>

</body>

</html>